<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>Pascal Braband - iOS Software Entwickler</title>
        <meta name="description" content="Pascal Braband ist ein in Köln ansässiger Software Entwickler mit Spezialisierung auf mobile Apps für iOS. Auch die Etnwicklung mit Java, Python und SQL gehören zu den angebotenen Leistungen."/>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/atvImg.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500|Raleway:600|Roboto:300,400,500">
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Scripts -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/atvImg.js"></script>
        <script src="js/main.js"></script>

        <link rel="shortcut icon" href="img/favicon.png" type="image/png" />
        <link rel="icon" href="img/favicon.png" type="image/png" />

    </head>

    <body>


        {{{navbar}}}


        <div class="main-container">

            <section id="home">
                <div class="container home-wrapper">
                    <div class="row top-section"></div>
                    <div class="row align-items-center middle-section">
                        <div class="col" style="text-align: center">
                            <div class="container">
                                <div class="row pb-3 pb-md-5">
                                    <div class="col">
                                        <img class="img-fluid title-image" src="img/profile.png" alt="Profil" height="180" width="180">
                                    </div>
                                </div>
                                <div class="row mt-4 mt-md-5">
                                    <div class="col">
                                        <h1 class="title">
                                            PASCAL BRABAND
                                        </h1>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col">
                                        <h2 class="description">
                                            Software Entwickler
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center bottom-section">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="scroll-hint-wrapper h-100">
                                <span class="scroll-hint anim1">&gt;</span>
                                <span class="scroll-hint anim2">&gt;</span>
                                <span class="scroll-hint anim3">&gt;</span>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </section>


            <section id="about">
                <div class="container mt-5">
                    <div class="row" style="height: 15vh"></div>
                    <div class="row">
                        <div class="col-12 col-md-10 col-xl-8 mx-auto">
                            <div class="container">
                                <div class="row">
                                    <div class="col-1 align-self-center">
                                        <span class="heading-marker">&gt;</span>
                                    </div>
                                    <div class="col">
                                        <h2 class="heading">
                                            WER
                                        </h2>
                                    </div>
                                    <div class=col-1></div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-10 mx-auto">
                                        <div class="text">
                                            Mein Name ist Pascal Braband und ich bin ein in Köln ansässiger Software Entwickler. Mein Hauptbereich ist die Entwicklung von mobilen Apps für iOS-Geräte wie iPhone und iPad, aber auch für macOS. Dabei bin ich sowohl für UI- und UX-Design zuständig, als auch die Umsetzung des Designs und schlussendlich das Programmieren der Anwendung. Bei der App Entwicklung hat dies den entscheidenden Vorteil, dass ich die Benutzeroberfläche designe, welche optimal umsetzbar sind. Auch die umständliche Kommuniktation zwischen Designer und Entwickler fällt hierbei weg.
                                            <br>
                                            Auch programmiere ich Anwendungen in Java und Python und erstelle Datenbanken mit SQL. Diese Website beispielsweise habe ich selbst programmiert, ohne vorher große Vorkenntnisse in der Frontend-Entwicklung zu haben.
                                            <br>
                                            Ich studiere im Moment Informatik im Bachelor und schreibe gerade an meiner Thesis.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





            <section id="product">
                <div class="container mt-5" style="position: relative">
                    <div class="row" id="block-spacer" style="height: 15vh"></div>
                    <div class="row" style="position: relative;">
                        <div class="col-12 col-md-10 col-xl-8 mx-auto">
                            <div class="container" id="product-container">
                                <div class="row">
                                    <div class="col-1 align-self-center">
                                        <span class="heading-marker">&gt;</span>
                                    </div>
                                    <div class="col">
                                        <h2 class="heading">
                                            WAS
                                        </h2>
                                    </div>
                                    <div class=col-1></div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-10 mx-auto">
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row parallax-container">
                        <div class="col-5">
                            <img src="img/bg-graphics/poly-image-l.svg" id="poly-image-l" class="parallax depth-02 d-none d-md-block"> 
                        </div>
                        <div class="col-2">
                            <img src="img/bg-graphics/poly-image-m.svg" id="poly-image-m" class="parallax depth-05 d-md-none">
                        </div>
                        <div class="col-5">
                            <img src="img/bg-graphics/poly-image-r.svg" id="poly-image-r" class="parallax depth-06 d-none d-md-block">
                        </div>
                    </div>
                </div>
            </section>


            <section id="projects">
                <div class="container mt-5">
                    <div class="row" id="block-spacer" style="height: 15vh"></div>
                    <div class="row" style="position: relative;">
                        <div class="col-12 col-md-10 col-xl-8 mx-auto">
                            <div class="container"  id="projects-container">
                                <div class="row">
                                    <div class="col-1 align-self-center">
                                        <span class="heading-marker">&gt;</span>
                                    </div>
                                    <div class="col">
                                        <h2 class="heading">
                                            PROJEKTE
                                        </h2>
                                    </div>
                                    <div class=col-1></div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-10 mx-auto">
                                        <div class="text">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 col-md-10 mx-auto px-0 px-md-3">
                                        <div class="container">
                                            <div class="row pt-2 mb-5 project-container">
                                                <div class="col-auto">
                                                    <a href="project-cfilms.html">
                                                        <div class="atvImg project-card">
                                                            <img src="img/projects/napper/logo-flat.svg">
                                                            <div class="atvImg-layer" data-img="img/projects/cfilms/bg.png"></div>
                                                            <div class="atvImg-layer" data-img="img/projects/cfilms/logo.svg"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <div class="project-description">
                                                        <h2 class="heading pb-2">CFILMS</h2>
                                                        <h3 class="project-subtitle">iOS-Anwendung</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2 mb-5 project-container">
                                                <div class="col-auto">
                                                    <a href="http://apple.com">
                                                        <div class="atvImg project-card">
                                                            <img src="img/projects/napper/logo-flat.svg">
                                                            <div class="atvImg-layer" data-img="img/projects/napper/bg.png"></div>
                                                            <div class="atvImg-layer" data-img="img/projects/napper/logo.svg"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col" style="position: relative">
                                                    <div class="project-description">
                                                        <h2 class="heading pb-2">NAPPER</h2>
                                                        <h3 class="project-subtitle">iOS-Anwendung</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2 mb-5 project-container">
                                                <div class="col-auto">
                                                    <a href="http://apple.com">
                                                        <div class="atvImg project-card">
                                                            <img src="img/projects/mill/logo-flat.svg">
                                                            <div class="atvImg-layer" data-img="img/projects/mill/bg.png"></div>
                                                            <div class="atvImg-layer" data-img="img/projects/mill/logo.svg"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <div class="project-description">
                                                        <h2 class="heading pb-2">MILL</h2>
                                                        <h3 class="project-subtitle">iOS-Anwendung</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2 mb-5 project-container">
                                                <div class="col-auto">
                                                    <a href="http://apple.com">
                                                        <div class="atvImg project-card">
                                                            <img src="img/projects/juko/logo-flat.svg">
                                                            <div class="atvImg-layer" data-img="img/projects/juko/bg.png"></div>
                                                            <div class="atvImg-layer" data-img="img/projects/juko/logo.svg"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <div class="project-description">
                                                        <h2 class="heading pb-2">JUKO</h2>
                                                        <h3 class="project-subtitle">Design Studie</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2 mb-5 project-container">
                                                <div class="col-auto">
                                                    <a href="http://apple.com">
                                                        <div class="atvImg project-card">
                                                            <img src="img/projects/pb-website/logo-flat.svg">
                                                            <div class="atvImg-layer" data-img="img/projects/pb-website/bg.png"></div>
                                                            <div class="atvImg-layer" data-img="img/projects/pb-website/logo.svg"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="col">
                                                    <div class="project-description">
                                                        <h2 class="heading pb-2">BRABAND</h2>
                                                        <h3 class="project-subtitle">Website</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="contact">
                <div class="container mt-5" style="position: relative">
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </section>
        </div>
        <script>
            atvImg();
        </script>
    </body>
</html>
