<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom py-4 py-md-5 px-sm-4 px-md-5" id="navbar" data-dynamic-navbar="true">
    <h1 id="navbar-logo" class="logo ml-2">
        PASCAL BRABAND
    </h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="toogleMenuBackground()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pt-3 pt-md-4 pt-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li role="separator" class="divider"><hr></li>
            <li class="nav-item">
                <a class="nav-link" id="navHome" href="index.html#home" onclick="changeButtonToSelected(this.id)">
                    <span id="navHomeIndent1" class="indentation-marks">&lt; </span>
                    start
                    <span id="navHomeIndent2" class="indentation-marks"> &gt;</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navAbout" href="index.html#about" onclick="changeButtonToSelected(this.id)">
                    <span id="navAboutIndent1" class="indentation-marks">&lt; </span>
                    über
                    <span id="navAboutIndent2" class="indentation-marks"> &gt;</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navProduct" href="index.html#product" onclick="changeButtonToSelected(this.id)">
                    <span id="navProductIndent1" class="indentation-marks">&lt; </span>
                    leistung
                    <span id="navProductIndent2" class="indentation-marks"> &gt;</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navProjects" href="index.html#projects" onclick="changeButtonToSelected(this.id)">
                    <span id="navProjectsIndent1" class="indentation-marks">&lt; </span>
                    projekte
                    <span id="navProjectsIndent2" class="indentation-marks"> &gt;</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="navContact" href="index.html#contact" onclick="changeButtonToSelected(this.id)">
                    <span id="navContactIndent1" class="indentation-marks">&lt; </span>
                    kontakt
                    <span id="navContactIndent2" class="indentation-marks"> &gt;</span>
                </a>
            </li>
        </ul>
    </div>
</nav>